<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>


<div class="container">
  <div class = 'jumbotron'>
    <h1 >Movie List</h1>
    <a [routerLink]="['/movies','new']"><button type="button" class="btn float-right" >Add A new Movie</button></a>
    <!-- <div class = 'add'><a [routerLink]="['/movies','new']"><button>Add A new Movie</button></a></div> -->
    <table class="table table-striped table-hover">
        <thead class = "thead-medium" >
        <tr>
          <th>Movie Title</th>
          <th>Available Actions</th>
        </tr>
      </thead>
        <tr *ngFor='let movie of movies'>
          <td>{{movie.title}}</td>
          <td><button [routerLink]="['/movies',movie._id]">Read Reviews</button>
          <button [routerLink]="['/movies/review',movie._id]">Write review</button></td>
          
        </tr>
      
    </table>


  </div>
</div>

<router-outlet></router-outlet>
</body>
</html>
